<div class="reminder-list">
  <mat-card *@for="let reminder of reminders" class="reminder-card">
    <mat-card-title>{{ reminder.title }}</mat-card-title>
    <mat-card-content>
      <p>{{ reminder.description }}</p>
      <p>{{ reminder.date  }}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button color="warn" (click)="deleteReminder(reminder._id)">Delete</button>
    </mat-card-actions>
  </mat-card>
</div>

<!-- If no reminders are available -->
<div *@if="reminders.length === 0">
  <p>No reminders found. Please add a new reminder.</p>
</div>
